


<br/><br/>
<div id="conteudo">
  <table width="97%" align="center"  class="login" >
        <tr valign="bottom">
         <td width="10%" align="center" style="height: 100%">
           <%= link_to image_tag("/stylesheets/Imagens/infoseduc.jpg", :size => "200x100"), informatica_path, :title => "Sistema de Gestão SEDUC"%>
         </td>
         <td width="10%" align="center" style="height: 100%" >
           <%= link_to image_tag("/stylesheets/Imagens/sisgered.jpg", :size => "200x100"),  "http://sisgered.seducpma.com", :title => "Sistema de Gerenciamento Escolar"%>
         </td>
         <td width="10%" align="center" style="height: 100%">
           <%= link_to image_tag("/stylesheets/Imagens/pedagogico.png", :size => "200x100"),"https://docs.google.com/document/d/1mmTGfxiBgE3mCgElGntiHjG7oLrzFiXO7fQ7Q79P8Uw/edit?usp=sharing"  , :title => "Conteúdos Pedagógicos"%>
           <%#= link_to image_tag("/stylesheets/Imagens/pedagogico.png", :size => "200x100"),""  , :title => "Conteúdos Pedagógicos"%>
         </td>
         <td rowspan="5" valign="top" align="left">
             <table width="100%">
                 <tr>
                        <td width="2%"></td>
                        <td width ="96%">
                            <table >
<!--                                <tr>
                                     <td colspan="2" align="center" style=" font-size: large"> &nbsp&nbsp <b><u>Formações Disponíveis</b></u></font><br/>
                                               <font size="0" > &nbsp&nbsp Para inscrever-se acesse o módulo <%#= link_to "Inscrições On-Line", new_inscricao_path, :title => "Inscrições"%></font><br/>
                                     </td>
                              </tr>

                             <tr>
                                 <td colspan="2">
                                           <% $cont = 1%>
                                            <% @cursos.in_groups_of(1, false) do |row_cursos| %>
                                 </td>
                             </tr>
                              <tr>

                                <% row_cursos.each do |curso| %>
                                    <%if curso.existe_vaga %>
                                  <td id="demo" align="left"><b><%=$cont%>) <%= "#{curso.nome_curto}"%></b> <br/> <font color="blue"> &nbsp&nbsp <%="Total de vagas: #{curso.qtde}"%> <br/> &nbsp&nbsp <%="Vagas disponíveis: #{curso.vagas_disponiveis}"%> <br/> &nbsp&nbsp <%="Data: #{curso.datas}"%></font>
                                      <br/>
                                        ---------------------------------------------------------------------------</td>
                                    <%else%>
                                      <td><b><%=$cont%>) <%= " #{curso.nome}"%></b>  <br/>
                                      <font color="blue"> &nbsp&nbsp <%="Local: #{curso.local}"%></font><br/>
                                      <font color="blue"> &nbsp&nbsp <%="Data: #{curso.datas}"%></font><br/>
                                      <%if curso.vagas_disponiveis==0%>
                                        <font color="red"> &nbsp&nbsp <b>TODAS AS <%="#{curso.qtde}"%> VAGAS ESTÃO COMPLETAS.</b></font><br/>
                                      <%else%>
                                        <font color="red"> &nbsp&nbsp <b>INSCRIÇÕES ENCERRADAS! </b></font><br/>
                                      <%end%>
                                        ---------------------------------------------------------------------------</td>
                                    <%end%>
                                 <% $cont = $cont + 1 %>
                                <%end%>
                              </tr>



                           <%end%>
<!--
<!--
                             <tr>
                                     <td colspan="2" align="center"><br/><font size ="2"> &nbsp&nbsp <b><u>CLASSIFICAÇÃO FINAL E CONVOCAÇÃO PROCESSO SELETIVO <br/> PROFESSOR SUBSTITUTO</b></u></font><br/>
                                                <%= link_to "https://processoseletivo.seducpma.com", "https://processoseletivo.seducpma.com", :target => "_blank"%></font><br/>
                                               ou no Diário Oficial edição nº209 de 20/07/2019 <br/><br/>
                                                   <font size="4" ><#%= link_to "https://diariooficial.americana.sp.gov.br/diario-oficial-index.php", "https://diariooficial.americana.sp.gov.br/diario-oficial-index.php", :target => "_blank"%></font> <br/><br/>
                                                   <font color="blue" size="1"><center><b><u>DÚVIDAS ENTRAR EM CONTATO PELO E_MAIL:  processoseletivo@seducpma.com</u></center><font color="black"> <B>----------------------------------------------------------------------------------------------------------------</B></FONT>

                                     </td>
                              </tr>
                             <tr>
                                     <td colspan="2" align="left"><br/><font size ="3"> &nbsp&nbsp <b><u>CONSELHO MUNICIPAL DE EDUCAÇÃO DE AMERICANA</b></u></font><br/>
                                                <font size ="3"> Convoca todos os cidadãos que desejarem participar do Conselho para eleição da nova gestão do CMEA.<br/>
                                                <b><u> Dia 16/9 - 18 horas: </u></b> Professores (ensino fundamental), Representantes associação de bairro, Alunos (ensino superior), Diretores e Coordenadores.<br/>
                                                <b><u> Dia 18/9 - 18 horas: </u></b> Professores (ensino infantil), Representantes de pais, Representantes de educação (ensino particular).<br/>
                                                <b><u> Dia 07/10: </u></b> Posse do novo Conselho.</font>

                              </tr>



-->
    <!--
                           <tr>
                             <td>
                               <br/><br/>

                               NO MOMENTO NÃO HÁ NENHUM CURSO DISPONÍVEL.

                               <br/><br/><br/><br/>
                             </td>
                           </tr>
    -->
                    <tr/>
                    <tr>



                                   <font size ="4" > <b> Para acessar <u>MATERIAL PEDAGÓGICO</u>, clicar no link à esquerda(CONECTA EDUCAÇÃO - CONEDU).
                                    </b></font><b>
                                    <br/><font color="red"><====</font></b>
                                    <font size ="4" ><b> <%#= link_to("Conecta Educação - CONEDU", "https://docs.google.com/document/d/1mmTGfxiBgE3mCgElGntiHjG7oLrzFiXO7fQ7Q79P8Uw/edit?usp=sharing" , :title => "Conteúdos Pedagógicos")%> ou no link <%= link_to("http://www.tiny.cc/conedupma", "https://docs.google.com/document/d/1mmTGfxiBgE3mCgElGntiHjG7oLrzFiXO7fQ7Q79P8Uw/edit?usp=sharing")%> ou <%= link_to("tiny.cc/conedupma", "https://docs.google.com/document/d/1mmTGfxiBgE3mCgElGntiHjG7oLrzFiXO7fQ7Q79P8Uw/edit?usp=sharing")%> .
                                    <br/><br/>  
<!--                                    <font size ="4" > <b> Para acessar <u>INSCRIÇÃO DE VAGA PARA PRÉ ESCOLA</u>, clicar no link à esquerda (DEMANDA).
                                    </b></font><b>
                                    <br/><font color="red"><====</font></b>
                                    <font size ="4" ><b> <#%= link_to("Inscrição Pré-Escola (DEMANDA)", "http://demanda.seducpma.com")%>
                                        
                                    <br/><br/>
-->

<!--     <font size ="4" color ="blue" > <b>Diante da necessidade do distanciamento social em função da COVID-19, as unidades escolares da rede  municipal funcionarão em regime diferenciado.
As escolas estarão abertas às segundas, quartas e sextas-feiras  das 7h30 às 13h30., a partir do próximo dia 06.
Nos dias 06, 07 e 08 de maio haverá planejamento para os professores sobre a utilização dos recursos e  materiais  a serem disponibilizados aos alunos.
As atividades escolares não presenciais serão encaminhadas a partir do dia 11 de maio.</b>
  <br/><br/>
  <font color="red" size ="3" id="pisca1"> <u><b>ATENÇÃO:</u> Aguarde para acessar os conteúdos até os professores postarem as atividades.  &nbsp&nbsp <u> AGUARDE </u>! </font><br/><br/>
  <font  size ="2" id="pisca1"> Em BREVE todos os conteúdos estarão disponíveis. &nbsp&nbsp   Obrigado!</b>

     <font size ="4" color ="blue" > <b>Diante da necessidade do distanciamento social em função da COVID-19, as unidades escolares da rede  municipal funcionarão em regime diferenciado.
As escolas estarão abertas às segundas, quartas e sextas-feiras  das 7h30 às 13h30.<br/>
Solicitamos aos pais e responsáveis pelas crianças que acessem o vídeo explicativo e a plataforma, acompanhem seus filhos no processo educativo, quando necessário, podem entrar em contato com professores e gestores das respectivas unidades educacionais onde estão matriculados.
-->
 <font size ="2" color ="blue" > <b>Diante da necessidade do distanciamento social em função da COVID-19, as unidades escolares da rede municipal funcionarão em regime diferenciado.<br/>
Solicitamos aos pais e responsáveis pelas crianças que acessem o vídeo explicativo e a plataforma, acompanhem seus filhos no processo educativo, quando necessário, podem entrar em contato com professores e gestores das respectivas unidades educacionais onde estão matriculados.
<BR/> 
<font  size ="3" id="pisca1" color ="RED"><center> Conteúdos já  disponíveis. &nbsp&nbsp   Acesse! </center></b>


   
  <font color="BLACK" size ="3" > Vídeo de orientações como acessar a plataforma <%= link_to("CONEDU", "https://www.youtube.com/watch?v=EMgs0tuzHBg" , :title => "Vídeo CONEDU")%> no link <%= link_to("https://www.youtube.com/watch?v=EMgs0tuzHBg", "https://www.youtube.com/watch?v=EMgs0tuzHBg")%>
                                       .
<!--    <u><b>ATENÇÃO:</u> Aguarde para acessar os conteúdos até os professores postarem as atividades.  &nbsp&nbsp <u> AGUARDE </u>!--> </font><br/><br/>
 <!-- <font  size ="3" id="pisca1"><center> Conteúdos já  disponíveis. &nbsp&nbsp   Acesse! </center></b>-->
<!--
   <br/>
   <font color="red" size ="3" > <b><==== <%#= link_to(" MENSAGEM DA SECRETÁRIA DE EDUCAÇÃO  ", "https://www.youtube.com/watch?v=R2F81iqNsc0" , :title => "Mensagem da Secretária de ")%> no link <%#= link_to("https://www.youtube.com/watch?v=EMgs0tuzHBg", "https://www.youtube.com/watch?v=EMgs0tuzHBg")%></b>
-->

 <font size ="3" color ="black" > <b>Conforme disposto no decreto Municipal nº 12.541 de 24 de Setembro de 2020, a Secretaria Municipal de Educação disponibiliza pesquisa sobre retorno às atividades presenciais realizada em Setembro/2020 junto aos pais e responsáveis dos alunos matriculados na rede municipal de ensino.</FONT> <font size ="1" color ="black" > (Para acessar clique nos links abaixo) <br/></b>
  <font size ="3" color ="black" > &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <%= "#{ link_to "ENSINO FUNDAMENTAL", ensino_fundamental_path}"%>    &nbsp&nbsp    -    &nbsp&nbsp    <%= "#{ link_to "EDUCAÇÃO INFANTIL", educacao_infantil_path}"%></FONT>



                                     </td>
                              </tr>

                           <tr>
                               <td colspan="2" ><hr/> </td>
                              </tr>

                           <tr>
                               <td colspan="2" >Professores com problemas de acesso para postagem de conteúdo, favor entrar em contato com o gestor de sua unidade.&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp   Obrigado!<hr/> </td>
                              </tr>
<!--
                         <tr>
                             <td colspan="2" >
                               <table width="100%">
                                 <tr>
                                   <td align="center"> <font size ="5" color="red"> <b><u>ATENÇÃO</b></u></font> </td>
                                   <td align="center"> <%#= link_to image_tag("/stylesheets/images/diario.png", :size => "100x100"), "http://www.americana.sp.gov.br/download/diarioOficial/qojgqkjcop.pdf", :title => "Agenda Atendimento"%></td>

                                 </tr>
                               </table>
                                   <font size ="4" > <b>Em virtude <%#= link_to("Decreto Municipal2.410, de 18/03/2020", "http://www.americana.sp.gov.br/download/diarioOficial/9x36p9jylq.pdf")%>,
                                                        A Secretaria de Educação passará a atender das 12:00 as 17:00 horas, pelo email atendimento@seducpma.com ou pelo telefone 3475-9700.
                                                        </br>Os portões parmanecerão fechados com controle de acesso que será liberados somente à uma pessoa de cada vez.</b></font>
                                     </td>
                              </tr>
-->
                          </table>
                         </td>
                        </tr>
            </table>


   <tr>
     <td width="2%" align="center"  style="height: 100%">
       <%= link_to image_tag("/stylesheets/Imagens/professores1.jpg", :size => "200x100"), "http://pontua.seducpma.com", :title => "Sistema de Pontuação"%>
     </td>
     <td align="center">
        <%= link_to image_tag("/stylesheets/Imagens/manutencao.jpg", :size => "200x100"),  manutencao_path, :title => "Manutenção"%>
     </td>
     <td width="10%" align="center">
        <%= link_to image_tag("/stylesheets/Imagens/demanda.jpg", :size => "200x100"), "http://demanda.seducpma.com", :title => "Sistema de Demanda Escolar"%>
     </td>
   </tr>
   <tr>
     <td align="center"   style="height: 100%">
       <%#= link_to image_tag("/stylesheets/Imagens/certificados.png", :size => "200x100"), aviso_certificados_path, :title => "Solicitação de Certificados"%>
        <%= link_to image_tag("/stylesheets/Imagens/unidades.png", :size => "200x100"), unidades_certificados_path, :title => "Unidades da Secretaria de Educação"%>
    </td>
     <td align="center" >
       <%= link_to image_tag("/stylesheets/Imagens/downloads3.png", :size => "200x100"), dowloads_path, :title => "Orientações e Regulamentações Internas "%>
     </td>
     <td align="center" >
       <!-- <%#= link_to image_tag("/stylesheets/Imagens/seduc.png", :size => "200x100"), "http://americana.gestaopublicadigital.com.br/americana/portal", :title => "Portal SEDUC"%>-->
       <!-- <%#= link_to image_tag("/stylesheets/Imagens/voto1.jpg", :size => "200x100")%>-->
       <!--<%#= link_to image_tag("/stylesheets/Imagens/lista.jpg", :size => "200x100"),"https://docs.google.com/document/d/19gzeXfP79nrhQqwdtJIwxxC6d4tvnk2H2Jpvm1b4b8g/edit?usp=sharing"  , :title => "Atribuição"%>-->
                  <%= link_to image_tag("/stylesheets/Imagens/palestras.jpg", :size => "200x100"), new_inscricao_path,  :target => '_blank', :title => "Inscrições para cursos de aprefeiçoamento"%>
     </td>

   </tr>

   <tr>
     <td align="center" valign="top"   style="height: 100%">
       <%= link_to image_tag("/stylesheets/Imagens/Youtube.png", :size => "200x100"), "https://www.youtube.com/seducpma", :title => "Canal Youtube SEDUCPMA "%>
       <%#= link_to image_tag("/stylesheets/Imagens/eventual1.jpeg", :size => "200x100"), "https://processoseletivo.seducpma.com", :title => "Processo Seletivo"%>
       <%#= link_to image_tag("/stylesheets/Imagens/eventual1.jpeg", :size => "200x100"), aviso_1_session_path, :title => "Manutenção Informática"%>
       <%#= link_to image_tag("/stylesheets/Imagens/eventual1.jpeg", :size => "200x100"), informatica_path, :title => "Manutenção Informática"%>
    </td>
     <td align="center" >
       <%= link_to image_tag("/stylesheets/Imagens/oficio.jpg", :size => "200x100"), oficio_path, :title => "Sistema de Controle de Oficios"%>
     </td>
     <td align="center" >

       <%= link_to image_tag("/stylesheets/Imagens/sala.jpg", :size => "200x100"),reservar_salas_path, :title => "Sistema de Reservas de Sala (atividades e reuniões)"%>

      

    </td>
   </tr>

     <tr >
       <td align="center" valign="top" >
        <%#= link_to image_tag("/stylesheets/Imagens/diario1.png", :size => "200x100"), "http://www.americana.sp.gov.br/download/diarioOficial/qojgqkjcop.pdf", :title => "Diário Oficial"%> 
        <%= link_to image_tag("/stylesheets/Imagens/protocolo3.png", :size => "200x100"), protocolo_covid_path, :title => "Protocolo Atividades Presenciais"%> 
     </td>
     <td align="center" valign="top">
      <%#= link_to image_tag("/stylesheets/Imagens/mascara.png", :size => "200x100"),  mascara_path, :title => "Utilização Máscaras"%>
       <%= link_to image_tag("/stylesheets/Imagens/diario2.png", :size => "200x100"), "https://www.americana.sp.gov.br/download/diarioOficial/w9wyx2hwun.pdf", :target => "_blank"%>
     </td>
     <td align="center"valign="top">
       <%#= link_to image_tag("/stylesheets/Imagens/evelene.png", :size => "200x100"), "https://www.youtube.com/watch?v=R2F81iqNsc0", :title => "Mensagem Secretária Educação"%>
       <%= link_to image_tag("/stylesheets/Imagens/diario.png", :size => "200x100"), "https://diariooficial.americana.sp.gov.br/diario-oficial-index.php", :target => "_blank"%>
       

     </td>
   </tr>
 </table>
</div>
<br/>
