<br/>
<div id="interno2">
<% title "ALUNOS".singularize %>

 <div id="caixa_titulo" class ="invisible_to_print ">
     <font size="3"><strong>Orientações e Regulamentações Internas da Secretaria Municipal de Educação. </strong></font><br/>
 </div>
    <table width="100%"  bgcolor ="#E6E2D" style="border-color: white" >
      <tr  class ="invisible_to_print ">

       </tr>
       <tr bgcolor="#F5F5F5">
           <th colspan="5" align="right">
                <h1><center> <b>ORIENTAÇÕES E REGULAMENTAÇÕES INTERNAS - SEDUC </b></center> </h1>

  <hr/>
          </th>
       </tr>
       <tr bgcolor="#F5F5F5"> <th colspan="5"> Página de downloads de documentos, calendários, normatizações e outros documentos da Secretaria de Educação.<br/></th> </tr>
       <tr bgcolor="#F5F5F5">
         <td valign="top">
           <table  bgcolor="#F5F5F5" width="100%"  align="center">
             <tr>
               <td>
                 <fieldset><legend><font  size=4> Calendários</font></legend>
                   <table width="100% " >
                     <tr>
                        <td><%= "#{ link_to " Educação Infantil / 2019 ", infantil_2019_path}"%></td>
                      </tr>
                      <tr>
                        <td><%= "#{ link_to " Ensino Fundamental / 2019 ", fundamental_2019_path}"%></td>
                      </tr>
                     <tr>
                        <td><%= "#{ link_to " Educação Infantil / 2020 ", infantil_2020_path}"%></td>
                      </tr>
                      <tr>
                        <td><%= "#{ link_to " Ensino Fundamental / 2020 ", fundamental_2020_path}"%></td>
                      </tr>
                     <tr>
                        <td><%= "#{ link_to " Educação Infantil/2020 (EMEI - parcial) - Pandemia-COVID-19", infantil_2020_1_path}"%></td>
                      </tr>
                      <tr>
                        <td><%= "#{ link_to " Educação Infantil/2020(CRECHE-integral) - Pandemia-COVID-19 ", infantil_2020_2_path}"%></td>
                      </tr>

                   </table>

                 </fieldset>
                </td>
             </tr>
           </table>
        </td>
         <td valign="top">
           <table  bgcolor="#F5F5F5" width="100%"  align="center">
             <tr>
               <td>
                 <fieldset><legend><font  size=4> Legislação/Normas</font></legend>
                   <table width="100% " >
                      <tr>
                        <td><%= "#{ link_to " Plano Municipal de Educação", plano_educacao_path}"%></td>
                      </tr>
                      <tr>
                        <td><%= "#{ link_to "Banco de Horas", banco_horas_path}"%></td>
                      </tr>
                      <tr>
                        <td><%= "#{ link_to "Cesta Básica", cesta_basica_path}"%></td>
                      </tr>
                      <tr>
                        <td><%= "#{ link_to " Acordo Coletivo (Férias 2020)", acordo_2020_path}"%></td>
                      </tr>

                      <tr>
                        <td><%= "#{ link_to "Diário Oficial Municipio de Americana", "https://diariooficial.americana.sp.gov.br/diario-oficial-index.php",:target => "_blank"}"%></td>
                      </tr>
                     <tr>
                        <td>
                          <%= link_to "Diário Oficial - Suspensão atividades presenciais)", "http://www.americana.sp.gov.br/download/diarioOficial/qojgqkjcop.pdf",  :target => "_blank", :title => "Diário Oficial"%>
                        </td>
                      </tr>

                      <tr>
                        <td>
                          <%= link_to "Diário Oficial - Retorno atividades presenciais ", "https://www.americana.sp.gov.br/download/diarioOficial/w9wyx2hwun.pdf", :target => "_blank", :title => "Diário Oficial"%>
                        </td>
                      </tr>





                   </table>
                 </fieldset>
                </td>
             </tr>
           </table>
        </td>
         <td valign="top">
           <table  bgcolor="#F5F5F5" width="100%"  align="center">
             <tr>
               <td>
                 <fieldset><legend><font  size=4> Documentos</font></legend>
                   <table width="100% " >

                      <tr>
                        <td><%= "#{ link_to " Orientações para Diário de Classe – Ed. Intanil", diarioinfantil_2020_path}"%></td>
                      </tr>
                      <tr>
                        <td>
                          <%= link_to "Utilização de máscara",  mascara_path, :title => "Utilização Máscaras"%>
                        </td>
                      </tr>
                       <tr>
                        <td>
                           <%= "#{ link_to "Pesquisa de retorno à atividades presenciais - Ensino fundamenta", ensino_fundamental_path}"%>
                        </td>
                      </tr>
                       <tr>
                        <td>
                           <%= "#{ link_to "Pesquisa de retorno à atividades presenciais - Educação Infantil", educacao_infantil_path}"%>
                        </td>
                      </tr>
                      
                      <tr>
                        <td><%= "#{ link_to " PROTOCOLO RETORNO ATIVIDADES PRESENCIAIS", protocolo_covid_path}"%></td>

                      </tr>
                      <tr>
                        <td><%= "#{ link_to " Encaminhamento Fono \d- Ed.Infantil", fonoinfantil_path}"%></td>

                      </tr>
                      <tr>
                        <td><%= "#{ link_to " Encaminhamento Fono - Ens.Fundamental", fonofundamental_path}"%></td>

                      </tr>
                      <tr>
                        <td><%= "#{ link_to " Orientações sobre Lista Material 2021", material_path}"%></td>
                      </tr>





                      <tr>
                        <td><%= "#{ link_to " Documento Orientador 1 (2021) - Educacao Infantil ", doc_orientador_inf_01_path}"%></td>
                      </tr>
                      <tr>
                        <td><%= "#{ link_to " Documento Orientador 1 (2021)  - Educ Inf (Anexo1) ", doc_orientador_inf_01A_path}"%></td>
                      </tr>
                      <tr>
                        <td><%= "#{ link_to " Documento Orientador 1 (2021) - Ensino Fundamental", doc_orientador_fun_01_path}"%></td>
                      </tr>
                      <tr>
                        <td><%= "#{ link_to " Documento Orientador 1 (2021) - Ens Fund (Anexo1)",doc_orientador_fun_01A_path}"%></td>
                      </tr>
                      <tr>
                        <td><%= "#{ link_to " Documento Orientador n º 2 (2021) ", doc_orientador_2_path}"%></td>
                      </tr>
                      <tr>
                        <td><%= "#{ link_to " Documento Orientador n º 3 (2021) ", doc_orientador_3_path}"%></td>
                      </tr>
                      <tr>
                        <td><%= "#{ link_to " Documento Orientador n º 4 (2021) ", doc_orientador_4_path}"%></td>
                      </tr>
                      <tr>
                       <td><%= "#{ link_to " Documento Orientador n º 5 (2021) ", doc_orientador_5_path}"%></td>
                      </tr>
                      <tr>
                        <td><%= "#{ link_to " Documento Orientador 6 (2021) - Educacao Infantil ", doc_orientador_inf_06_path}"%></td>
                      </tr>
                      <tr>
                        <td><%= "#{ link_to " Documento Orientador 6 (2021) - Ensino Fundamental", doc_orientador_fun_06_path}"%></td>
                      </tr>
                      <tr/>
                        <td><%= "#{ link_to " Documento Orientador 7 (2021) - Educacao Infantil ", doc_orientador_inf_07_path}"%></td>
                      </tr>
                      <tr>
                        <td><%= "#{ link_to " Documento Orientador 7 (2021) - Ensino Fundamental", doc_orientador_fun_07_path}"%></td>
                      </tr>



                   </table>
                 </fieldset>
                </td>
             </tr>
           </table>
        </td>


      </tr>
      <tr bgcolor="#F5F5F5"> <td colspan="5"><br/><font size ="3"<b>OBS: Clique para fazer download do documento desejado</b> </font> </td> </tr>
   </table>
                 <table width="100%"  align="left">
                   <tr>

                      <td width="6%"align="left" ><%= button_to('Fechar', home_path, :method => "get", :title => "Fechar")%></td>

                    </tr>
                </table>

<br/>
</div>
