<div id="interno5">
<% title "SAUDES".singularize %>
<div class="tabs">
 <div id="caixa_titulo">
     <font size="3"><strong>CADASTRO DE PARTICIPANTES</strong></font><br/>
 </div>
<div class ="tabs">
 <table bgcolor="#DCDCDC" width="100%">
   <tr bgcolor="#DCDCDC"  width="100%">
     <td>
       
            <table  bgcolor="#F5F5F5" width="100%"  align="center">
              <tr>
                       
   <td colspan="2">
    <fieldset><legend><font  size=4> Dados Pessoais </font></legend>
       <table width="100%">
           
               <tr>
                   <td width ="20%"align="left"><b>Nome :</b></td>
                   <td align="left"><%= @participante.nome %></td>
                </tr>
                <tr>
                   <td  width="10%"align="left"><b>Matrícula: </b></td>
                   <td align="left"><%=h @participante.matricula %> </td>
                </tr>
                <tr>
                   <td align="left"><b>Endereço: </b></td>
                   <td align="left"><%=h @participante.endereco %>, <b>Nº</b> <%=h @participante.num %></td>
                </tr>
                <tr>
                   <td align="left"><b>Complemento: </b></td>
                   <td align="left"><%=h @participante.complemento %></td>
                </tr>

                <tr>
                   <td align="left"><b>Cidade: </b></td>
                   <td align="left"><%=h @participante.cidade %></td>
                </tr>
                <tr>
                   <td align="left"><b>Bairro: </b></td>
                   <td align="left"><%=h @participante.bairro%> -
                     <b>CEP: </b><%=h @participante.CEP %></td>
                </tr>
                <tr>
                   <td align="left"><b>Telefone: </b></td>
                   <td align="left"><%=h @participante.telefone %> &nbsp&nbsp -  &nbsp&nbsp
                     <b>Celular: </b><%=h @participante.cel %></td>
                </tr>
                 <tr>
                     <td align="left"><b>E-mail: </b></td>
                     <td align="left"><%=h @participanteemail %>  -  <%=h @participante.email %>  </td>
                 </tr>
                 <%if @participante.professor_id.present?%>
                <tr>
                   <td align="left"><b>Unidade: </b></td>
                   <td align="left"><%=h @professor.unidade.nome %></td>
                </tr>
                <tr>
                   <td align="left"><b>Função: </b></td>
                   <td align="left"><%=h @professor.funcao%></td>
                </tr>
                <%end%>
                 <%if @participante.funcionario_id.present?%>
                <tr>
                   <td align="left"><b>Unidade: </b></td>
                   <td align="left"><%=h @funcionario.unidade.nome %></td>
                </tr>
                <tr>
                   <td align="left"><b>Função: </b></td>
                   <td align="left"><%=h @funcionario.funcao%></td>
                </tr>
                <%end%>
                 <tr>
                   <td align="left"><b>Observação: </b></td>
                   <td align="left"><%=h @participante.obs%></td>
                </tr>
        </table>
    </fieldset>
 </td>
</tr>
</table>
          <table align="left">
              <tr>
                
                <td align="left" ><%= button_to('Fechar', home_path, :method => "get", :title => "Fechar")%></td>
                <td align="center"><%= button_to 'Editar', {:action => "edit", :id =>@participante}, :method => "get", :title => "Editar"%></td>
                <td align="center"><%= button_to 'INSCRIÇÕES', {:action => "consultas", :controller=>"inscricaos"}, :method => "get", :title => "Editar"%></td>
              </tr>
            </table>
    </td>


    </fieldset>


</font>

 </td>
</tr>
</table>
</div>
</div>
    <br/>
