<div id="interno2">
<% title "GRAFICOS_por_unidade".singularize %>
<div class="tabs">
 <table bgcolor="#DCDCDC" width="70%" align="center" >
  <tr bgcolor="#DCDCDC" >
      <td colspan="3">
         <div id="caixa_titulo">
             <font size="3"><strong>O.S. MANUNTENÇÃO POR TIPO DE SERVIÇO</strong></font><br/>
         </div>

      </td>
    </tr>
    <tr>
      <td colspan="3">
        <%= form_tag({ :method => 'post', :action => 'por_servico' }, :id => 'graph-unit-form')%>
          <%= error_messages_for 'contact' %>
           <% if $uni==1 %>

              <table width="100%">
                <tr>
                  <th  align="right"> Tipo Serviço:

                    <%= collection_select :contact, :grafico_id, @servicos, :id, :servico%>
                  </th>
                  <td><%= submit_tag 'Filtrar!' %></td>
                </tr>
              </table>

           <%end%>


      </td>
    </tr>
    <tr>
      <td colspan="3" align="center">
          <% if @static_graph4.present?%>
          <u><b>ESTATÍSTICA DE TIPO DE SERVIÇOS DESDE 01/2020 </b></u>
              <%= @static_graph4%>
          <%else%>
              <%= @graph4 %>
          <%end%>
      </td>
    </tr>

    <tr>

      <td colspan="3" align="center">
          <% if @static_graph5.present?%>
          <u><b>ESTATÍSTICA DE TIPO DE SERVIÇOS EM ABERTO E ENCERRADOS DESDE 01/2020 </b></u>
              <%= @static_graph5%>
          <%else%>
              <%= @graph5 %>
          <%end%>
      </td>
    </tr>
    <tr>

      <td colspan="3" align="center">
          <% if @static_graph3.present?%>
             <u><b>ESTATÍSTICA SERVIÇOS POR TIPO DESDE 01/2021 NA SEDUC </b></u>
              <%= @static_graph3%>
          <%else%>
              <%= @graph3 %>
          <%end%>
      </td>
    </tr>
    <tr>

      <td colspan="3" align="center">
          <% if @static_graph6.present?%>
          <u><b>ESTATÍSTICA SERVIÇOS POR TIPO EM ABERTO DESDE 01/2021 NA SEDUC </b></u>
              <%= @static_graph6%>
          <%else%>
              <%= @graph6 %>
          <%end%>
      </td>
    </tr>
    <tr>

      <td colspan="3" align="center">
          <% if @static_graph7.present?%>
          <u><b>ESTATÍSTICA SERVIÇOS POR TIPO ENCERRADOS DESDE 01/2021 NA SEDUC </b></u>
              <%= @static_graph7%>
          <%else%>
              <%= @graph7 %>
          <%end%>

      </td>
    </tr>



    <tr>
        <td width="1%"<%= button_to ''  %></td>
        <td width="6%"align="left" ><%= button_to 'Fechar', home_path, {:method => "get"}  %></td>
        <td><b><%#= link_to image_tag("/stylesheets/images/imprimir12.png"), onclick="javascript:MM_openBrWindow('#{impressao_geral_path}','impressao', 'scrollbars=yes');", :title => "Imprimir" %> </b></td>


  </tr>

</table>
<br/><br/>

<% session[:geral] = 1 %>

</div>
<br/>
</div>
<br/><br/>
